<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonido del Perro</title>
    <style>
        h1 {
            text-align: center;
        }

        .recuadro {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            padding: 20px;
            width: 200px;
            margin: 0 auto;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <h1>El sonido del perro es:</h1>
    <br>
    <br>
    <br>

    <div class="recuadro">
        <h2>{{ sonido }}</h2>  
    </div>

    <br>
    <br>
    <br>
    <!-- Botón de regreso que enlaza con la página principal -->
    <a href="/" style="text-decoration: none;">
        <button>Volver</button>
    </a>
</body>
</html>
